body{
  background-color:#b8e994;
}

main{
  display: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  height:200px;
  width: 300px;
  filter: brightness(0%);
  margin: 10px;
}

.showCard{
  transition: 1s;
  filter: brightness(100%);
}

.card:hover{
  cursor: pointer;
}

.card:selected{
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(20%);


}